body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, deepskyblue, dodgerblue, darkblue), url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Lake_O_Hara_from_Yukness_Ledge_Alpine_Route.jpg/800px-Lake_O_Hara_from_Yukness_Ledge_Alpine_Route.jpg");  
    background-size: cover;
}
.login{
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 85px;
    border-radius: 15px;
    color: white;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
    transition: .5s;
}
.marca{
    width: 250px;
    height: 250px;
    border: none;
    position: absolute;
    top: -9.5%;
    left: 4%;
    opacity: 1;
}

.bunny{
    width: 150px;
    height: 150px;
    border: none;
    position: absolute;
    top: -4.4%;
    left: -2%;
    opacity: 1;
}


.alternativ{
    border: 8px;
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0.999);
    font-weight: bold;
}
.alternativ:hover{
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: .2s;
}

#mensagem {
    color: red;
    display: none;
  }


*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	background: rgba(0, 0, 0, 0.5);
	height: 70px;
	width: 100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 68px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 8px;
	text-transform: uppercase;
}
a:hover {
	background: rgba(0, 0, 0, 0.5);
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}